# Environment Config

# store your secrets and config variables in here
# only invited collaborators will be able to see your .env values
# Note: comments will be visible to remixes so don't put secrets in comments!

# reference these in your code with process.env.SECRET

ABLY_API_KEY=YOUR_API_KEY_HERE
PORT=5000 # if on local environment

# note: .env is a shell file so there can't be spaces around =