body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.cursor-icon svg {
  margin-right: 4px;
  vertical-align: top;
}

.announce-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
  user-select: none;
}

.announce-button.button-cooldown {
  background-color: #ccc;
  color: #888;
  cursor: default;
  pointer-events: none;
}

#chatForm button, #copyToClipboard {
  user-select: none;
}

.infobox {
  padding: 10px;
  width: 50%;
}

.chat {
  height: 100%;
  max-height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  padding: 40px;
  border-radius: 40px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.chat .chatbox {
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.chat .chatbox > div,
#users > div {
  padding-top: 5px;
  padding-bottom: 5px;
}

.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.connected {
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

.chat form input {
  width: 80%;
}

.hidden {
  display: none;
}

.system {
  font-weight: 700;
  font-style: italic;
}